import os
import sys
import site
site.addsitedir('/path/to/.virtualenvs/millybank/lib/python2.7/site-packages/') # your virtualenv for millybank


path = '/path/to/millybank'
if path not in sys.path:
    sys.path.append(path)

os.environ['DJANGO_SETTINGS_MODULE'] = 'millybank.settings'

import django.core.handlers.wsgi
application = django.core.handlers.wsgi.WSGIHandler()
