BeautifulSoup==3.1.0.1
ClientForm==0.2.10
Django==1.4.5
Genshi==0.5.1
MySQL-python==1.2.2
PAM==0.4.2
PIL==1.1.7
Pattern==2.1
PyYAML==3.09
Pygments==1.2.2
SQLAlchemy==0.7.2
Scrapy==0.14.1
Scrapyd==0.17.1-11-gb25a896
Twisted==11.1.0
Twisted-Conch==10.0.0
Twisted-Core==10.0.0
Twisted-Lore==10.0.0
Twisted-Mail==10.0.0
Twisted-Names==10.0.0
Twisted-News==10.0.0
Twisted-Runner==10.0.0
Twisted-Web==10.0.0
Twisted-Words==10.0.0
argparse==1.2.1
boto==1.9b
distribute==0.6.10
django-haystack==1.2.5
django-tables2==0.7.8
django-tinymce==1.5.1a2
foolscap==0.5.1
geopy==0.94.1
guppy==0.1.9
httplib2==0.7.1
ipython==0.10
lxml==2.3beta1
mod-python==3.3.1
networkx==1.6
nltk==2.0b8
pexpect==2.3
phpserialize==1.2
psutil==0.3.0
psycopg2==2.4.2
pyOpenSSL==0.10
pyasn1==0.0.8a
pybtex==0.16
pycrypto==2.0.1
pymongo==2.4.2
pyserial==2.3
pysolr==2.1.0-beta
python-apt==0.7.94.2ubuntu6
python-ptrace==0.6.3
pythonsolr==1.0
rainbow==0.8.6
simplejson==2.2.1
stevedore==0.8
thrift==0.8.0
virtualenv==1.4.5
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
w3lib==1.0
webcorpus==0.1
wsgiref==0.1.2
wxPython==2.8.10.1
wxPython-common==2.8.10.1
zope.interface==3.5.3
