# CONF sample for apache2 site

  WSGIScriptAlias /walt /path/to/walt/walt.wsgi
  <Directory /path/to/walt>
    Order allow,deny
    Allow from all
  </Directory>

  Alias /walt/static /path/to/walt/static
  <Directory /path/to/walt/static>
    Order allow,deny
    Allow from all
  </Directory>

