{% extends "portfolio/boilerplate.html" %}
{% load i18n %}


{% block body %}
  <!-- fixed sidebar -->
  <sidebar {%if user.is_staff %}class="staff"{%endif%}>
    <div class="inner">
      <h1>{{profile}}</h1>
      <div style="margin: 10px 0; overflow: hidden; width: 64px; height: 64px; border-radius: 32px; text-align: center">
        <img src="{{profile.picture.url}}" style="width:100%"/>

      </div>
      <h3>{{profile.excerpt}}</h3>

      <ul>
        <li {%if 'home' in tags %}class="active"{% endif %}><a href="{% url 'millibank_home'%}">{%trans 'home'%}</a></li>
        {% if user.is_authenticated %}
        <li {%if 'portfolio' in tags %}class="active"{% endif %}>
          <a href="{% url 'millibank_portfolio' user.username%}">{{user.username}}'s bank</a>
        </li>
        <li {%if 'login' in tags %}class="active"{% endif %}><a href="{% url 'millibank_logout'%}">{%trans 'logout'%}</a></li>
        {% endif %}
      </ul>
      


      {% for section in sections %}
      <ul>
        {% for t in w %}
        <li {%if t.slug in tags and category in tags%}class="active"{% endif %}><a href="{% url 'millibank_browse' category t.slug %}">{{t.name}}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}
      
      {% if user.is_staff %}
      <ul>
        <li>
          <a href="{% url 'admin:millibank_project_add' %}"> - {{user.username}}, add project</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </sidebar>

  <div id="wrap">
    <div id="main">
      <div class="inner">
      
        {% block view %}
        
        {% endblock %}
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="inner">fork  <a href="https://github.com/danieleguido/millibank">millibank</a> on Github</div>
  </div>

{% endblock %}
