@import "mixins.less";
@import "fonts.less";

@grid-padding: 24px;

body{
	background: white;
	height: 100%;
	.sans-serif(10px);
}

h2{
	border-bottom: 1px solid #eee;
	padding-bottom: @grid-padding;
}