{% extends "walt/middle.html" %}
{% load i18n %}
{% load extras %}
{% block spiffing %}{% if spiff %} {{ spiff }}'s {% endif %}{% endblock %}
{% block page %}

	<div class="grid_12">	
		<h2 style="border-width:0px">{% trans "series" %} ( {{ series.count }} )</h2>

		<div class="series">
			<a href="{% url admin:glue_serie_add %}">{% trans "add serie" %}</a>
			{% for serie in series %}
			<div class="serie">
				<div class="title">{{ serie.title }}. <span><a href="{% url walt_serie serie.slug %}">play #{{ serie.id }}</a></span></div>
				<div class="frames">
					{% for frame in serie.frames.all %}
						<span><a href="{% url admin:glue_frame_change frame.id %}"> {{ frame.title }}</a></span>

					{% endfor %}
				</div>
				<div class="timeline">

					<div class="inner">
						<div class="start">1867 &rarr;</div>

						<div class="end">2013</div>
					
					</div>
					
				</div>
				<div class="clear"></div>
			</div>
			{% endfor %}
			
		</div>
	</div>


	<div class="grid_12">	
		
		<div class="grid_3 alpha">
			
			<h2>
				<a href="{% if spiff %}{% url walt_w_spiff spiff %}{% else %}{% url walt_w %}{% endif %}">{% if spiff %} his/her {% endif %} {{ walt.wander.page.title }}
					( {{ walt.wander.pins.count }} )
				</a>
				<div class="description">
					
				
					{{ walt.wander.page.abstract }}
				</div>
			</h2>
			
			<div class="items">
				{% for pin in walt.wander.pins.all|slice:":10" %}
				<div class="item">
					
					<h3><a href="{% url walt_pin pin.slug %}"><!-- #{{ pin.id }} --> {{ pin.title }} </a></h3>
					<div class="metadata"><span class="date">{% if pin.date %}{{ pin.date }}{% else %}{{ pin.date_last_modified }}{% endif %}</span>
						{% for tag in pin.tags.all %}
							<a href="{% url walt_tag tag.type|lower tag.slug %}" class="tag" alt="{{ tag.name }} ( {{ tag.type }} )">{{ tag.name }}</a>
							{% if not forloop.last %},{%endif %} 
						{% endfor %}
						<p class="authors">
							{%trans "posted by" %}
							{% for u in pin.authors.all %}
								<a href="{% url walt_spiff u.username %}">{{ u.username }}</a>
								{% if not forloop.last %}, {% endif %}
							{% endfor %}
						</p>
						<p>
							<a href="{% url admin:glue_pin_change pin.id %}">&rarr; {% trans "edit" %}</a>
							<div style="float:left" draggable="true" class="drag-to-serie" >&curren; {% trans "drag" %}</div>

						</p>
					</div>
					<blockquote>
						 {{ pin.abstract }}

					</blockquote>
					
					<a class="external" href="{{ pin.permalink}}">&rarr; {{ pin.permalink}}</a>

					{% for child in pin.children.all|slice:":10" %}
					<div class="comment">
						<a href="#" class="author"> </a> {{ child.abstract }}
					</div>
					{% endfor %}
					
				</div>
				{% endfor %}

			</div>
			

		</div>
		<div class="grid_3 alpha">
			<h2>
				<a href="{% if spiff %}{% url walt_a_spiff spiff %}{% else %}{% url walt_a %}{% endif %}">{% if spiff %} his/her {% endif %}  {{ walt.augment.page.title }}
					( {{ walt.augment.pins.count }} )
				</a>
					<div class="description">
						{{ walt.augment.page.abstract }} 
					</div>
			</h2>
			
			<div class="items">
				{% for pin in walt.augment.pins %}
				<div class="item">
					
					<h3><a href="{% url walt_pin pin.slug %}"><!-- #{{ pin.id }} --> {{ pin.title }} </a></h3>
					<div class="metadata"><span class="date">{% if pin.date %}{{ pin.date }}{% else %}{{ pin.date_last_modified }}{% endif %}</span>
						{% for tag in pin.tags.all %}
							<a href="{% url walt_tag tag.type|lower tag.slug %}" class="tag" alt="{{ tag.name }} ( {{ tag.type }} )">{{ tag.name }}</a>
							{% if not forloop.last %},{%endif %} 
						{% endfor %}
						<p class="authors">
							{%trans "posted by" %}
							{% for u in pin.authors.all %}
								<a href="{% url walt_spiff u.username %}">{{ u.username }}</a>
								{% if not forloop.last %}, {% endif %}
							{% endfor %}
						</p>
						<p><a href="{% url admin:glue_pin_change pin.id %}">&rarr; {% trans "edit" %}</a></p>
					</div>
					<blockquote>
						 {{ pin.abstract }}

					</blockquote>
					 {{ pin.content|safe }}
					<a class="external" href="{{ pin.permalink}}">&rarr; {{ pin.permalink}}</a>

					{% for child in pin.children.all|slice:":10" %}
					<div class="comment">
						<a href="#" class="author"> </a> {{ child.abstract }}
					</div>
					{% endfor %}
					
				</div>
				{% endfor %}

			</div>
			

		</div>
		<div class="grid_3">
			<h2>
				<a href="{% if spiff %}{% url walt_l_spiff spiff %}{% else %}{% url walt_l %}{% endif %}">{% if spiff %} his/her {% endif %}  {{ walt.learn.page.title }}
					 ( {{ walt.learn.pins.count }} )
				</a>
				<div class="description">
					{{ walt.learn.page.abstract }}
				</div>
			</h2>
			<div class="items">
				{% for pin in walt.learn.pins.all|slice:":10" %}
				
					{% ifequal pin.mimetype "text/x-bibtex" %}
						{% with bibtex=pin.bib %}
						<div class="item">
							<h4>{{ bibtex.author }}</h4>
							<h3><a href="{% url walt_pin pin.slug %}"><!-- #{{ pin.id  }}-->{{ bibtex.title }}</a></h3>
							<div class="metadata">
								<p>{{ bibtex.publisher }}, {{ bibtex.year }}</p>
								{% for tag in bibtex.keywords|split %}
									<a href="#" class="tag" alt="{{ tag }}">{{ tag }}</a>
									{% if not forloop.last %},{%endif %}
								{% endfor %}
								<p class="authors">
									{%trans "posted by" %}
									{% for u in pin.authors.all %}
										<a href="{% url walt_spiff u.username %}">{{ u.username }}</a>
										{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</p>
								<p><a href="{% url admin:glue_pin_change pin.id %}">&rarr; {% trans "edit" %}</a></p>
							</div>
							<blockquote>
								{% if bibtex.abstract %} {{ bibtex.abstract }} {% endif %}

								{{ pin.abstract }}
								
							</blockquote>

						</div>
						{% endwith %}
					{% endifequal %}
				
				{% endfor %}
				
			</div>
		</div>
		<div class="grid_3 omega">
			<h2>
				<a href="{% if spiff %}{% url walt_t_spiff spiff %}{% else %}{% url walt_t %}{% endif %}">{% if spiff %} his/her {% endif %}  {{ walt.try.page.title }}
					( {{ walt.try.pins.count }} )
				</a>
				<div class="description">
					{{ walt.try.page.abstract }}
				</div>
			</h2>
			
			<div class="items">
				{% for pin in walt.try.pins.all|slice:":10" %}
				<div class="item">
					
					<h3><a href="{% url walt_pin pin.slug %}"><!-- #{{ pin.id }} -->{{ pin.title }} </a></h3>
					<div class="metadata"><span class="date">{% if pin.date %}{{ pin.date }}{% else %}{{ pin.date_last_modified }}{% endif %}</span>
						{% for tag in pin.tags.all %}
							<a href="{% url walt_tag tag.type|lower tag.slug %}" class="tag" alt="{{ tag.name }} ( {{ tag.type }} )">{{ tag.name }}</a>
							{% if not forloop.last %},{%endif %} 
						{% endfor %}
						<p class="authors">
							{%trans "posted by" %}
							{% for u in pin.authors.all %}
								<a href="{% url walt_spiff u.username %}">{{ u.username }}</a>
								{% if not forloop.last %}, {% endif %}
							{% endfor %}
						</p>
						<p><a href="{% url admin:glue_pin_change pin.id %}">&rarr; {% trans "edit" %}</a></p>
					</div>
					<blockquote>
						 {{ pin.abstract }}

					</blockquote>
					 {{ pin.content|safe }}
					<a class="external" href="{{ pin.permalink}}">&rarr; {{ pin.permalink}}</a>

					{% for child in pin.children.all|slice:":10" %}
					<div class="comment">
						<a href="#" class="author"> </a> {{ child.abstract }}
					</div>
					{% endfor %}
					
				</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
{% endblock %}