{% extends "walt/middle.html" %}
{% load i18n %}
{% load extras %}
{% block spiffing %}{% if spiff %} {{ spiff }}'s {% endif %}{% endblock %}


{% block urls %}
	{{ block.super }}
	{% if user.is_authenticated %}
	oo.urls.get_serie = "{% url glue_api_serie_frames 0 %}";
	oo.urls.list_serie = "{% url glue_api_series %}";
	oo.urls.remove_serie = "{% url glue_api_serie 0 %}";
	oo.urls.add_serie = "{% url glue_api_series %}";
    oo.urls.edit_serie = "{% url glue_api_serie 0 %}";
    oo.urls.sync_serie = "{% url glue_api_serie_frames 0 %}";

	oo.urls.get_pin = "{% url glue_api_pin 0 %}";
	oo.urls.list_pin = "{% url glue_api_pins %}";
	oo.urls.edit_pin = "{% url glue_api_pin 0 %}";
	oo.urls.remove_pin = "{% url glue_api_pin 0 %}";

	oo.urls.add_tag = "{% url glue_api_tags %}";
	{% endif %}
{% endblock %}

{% block navbar %}
	<div class="grid_12" >
				
		<h2 class="grid_3 alpha">
			<a href="{% if spiff %}{% url walt_w_spiff spiff %}{% else %}{% url walt_w %}{% endif %}">{% if spiff %} his/her {% endif %} {{ walt.wander.page.title }}
				( {{ walt.wander.pins.count }} )
			</a>
			{% if user.is_authenticated %}
				| <a href="#add-walt-w-modal" role="button" data-toggle="modal">+ {% trans "add bookmark" %}</a>
			{% endif %}
			{% comment %}<div class="description">
				
			
				{{ walt.wander.page.abstract }}
			</div>{% endcomment %}

		</h2>
		<h2 class="grid_3">
			<a href="{% if spiff %}{% url walt_a_spiff spiff %}{% else %}{% url walt_a %}{% endif %}">{% if spiff %} his/her {% endif %}  {{ walt.augment.page.title }}
				( {{ walt.augment.pins.count }} )
			</a>
			{% if user.is_authenticated %}
				| <a href="#add-walt-a-modal" role="button" data-toggle="modal">+ {% trans "add object" %}</a>
			{% endif %}
			{% comment %}<div class="description">
				{{ walt.augment.page.abstract }} 
			</div>{% endcomment %}
		</h2>
		<h2 class="grid_3" >
			<a href="{% if spiff %}{% url walt_l_spiff spiff %}{% else %}{% url walt_l %}{% endif %}">{% if spiff %} his/her {% endif %}  {{ walt.learn.page.title }}
				 ( {{ walt.learn.pins.count }} )
			</a>
			{% if user.is_authenticated %}
				| <a href="#add-walt-l-modal" role="button" data-toggle="modal">+ {% trans "add publication" %}</a>
			{% endif %}
			{% comment %}<div class="description">
				{{ walt.learn.page.abstract }}
			</div>{% endcomment %}
		</h2>
		<h2 class="grid_3 omega">
			<a href="{% if spiff %}{% url walt_t_spiff spiff %}{% else %}{% url walt_t %}{% endif %}">{% if spiff %} his/her {% endif %}  {{ walt.try.page.title }}
				( {{ walt.try.pins.count }} )
			</a>
			{% if user.is_authenticated %}
				| <a href="#add-walt-t-modal" role="button" data-toggle="modal">+ {% trans "add tool" %}</a>
			{% endif %}
			{% comment %}<div class="description">
				{{ walt.try.page.abstract }}
			</div>{% endcomment %}
		</h2>
	</div>

	<!-- div class="grid_12 shadow" >
		<div class="grid_3 alpha">&nbsp;</div>
		<div class="grid_3">&nbsp;</div>
		<div class="grid_3">&nbsp;</div>
		<div class="grid_3 omega">&nbsp;</div>
	</div -->
{% endblock %}


{% block footer %}
	{% if user.is_authenticated %}

		<!-- last serie aka workon, if any -->
		{% if workon_serie %}
			{% for serie in workon_serie %}

				<div class="serie">

					<h3>
						<a href="{% url walt_serie serie.slug %}">{{ serie.title }}</a></h3>

					<h2>
						( {{ serie.frames.count }} {% trans "frames" %}, {% trans "type" %} {{ serie.type }} )</h2>

					&mdash;
					<a href="#add-serie-modal" data-toggle="modal" role="button"> {% trans "start a new serie" %} </a>
					&mdash;
					<a href="#add-serie-modal" data-toggle="modal" role="button"> {% trans "load serie" %} </a>
					
				</div>

				<div class="">
					<div class="timeline-inner">
						<div class="frames" data-serie-id="{{ serie.id }}" >
					
							{% for frame in serie.frames.all %}
								<div title="{{ frame.pin.title }}" class="frame {% for frame_page in frame.pin.page.all %}{{frame_page.slug}}{%if not forloop.last %}-{%endif%}{% endfor %} {{ frame.role }}">
									<div class="icon"></div>
									<div class="title">
										{{ frame.pin.title }}
									</div>
									<div class="counter-wrapper"><div class="counter">{{ forloop.counter }}</div></div>
									<!-- a href="{% url admin:glue_frame_change frame.id %}" class="title" title="{{ frame.pin.title }}"> {{ frame.pin.title|truncatewords:3 }}</a -->
								</div>
								
							{% endfor %}
					
						</div>
					</div>
				</div>

			{% endfor %}
		{% else %}
			<div class="grid_12">
				you have no series yet. What are you waiting for ? <h2><a href="#add-serie-modal" data-toggle="modal" role="button">start a new serie now</a></h2>
			</div>
		{% endif%}
	
	{% else %}
	<!-- user is not authenticated 
	<h2 style="text-align: center"><a href="{% url walt_login %}">&rarr; {% trans "please login to start your serie"%} &larr;</a></h2>
	-->
	{% endif %}
{% endblock %}



{% block page %}



	<div class="grid_12">	
		
		<div class="grid_3 alpha">
			
			
			<!-- 
			
					WANDER 

			-->
			<div class="items">
				{% for pin in walt.wander.pins.all|slice:":10" %}
				<div class="item">
					
					<h3><a href="{% url walt_pin pin.slug %}"><!-- #{{ pin.id }} --> {{ pin.title }} </a></h3>
					<div class="metadata"><span class="date">{% if pin.date %}{{ pin.date }}{% else %}{{ pin.date_last_modified }}{% endif %}</span>
						{% for tag in pin.tags.all %}
							<a href="{% url walt_tag tag.type|lower tag.slug %}" class="tag" alt="{{ tag.name }} ( {{ tag.type }} )">{{ tag.name }}</a>
							{% if not forloop.last %},{%endif %} 
						{% endfor %}
						
						
					</div>
					<blockquote>
						 {{ pin.abstract }}
					</blockquote>
					<div class="content">
						 {{ pin.content }}
					</div>

					{% with authors=pin.authors.all %}

					<span class="authors">
						{%trans "posted by" %}
						{% for u in authors %}
							<a href="{% url walt_spiff u.username %}">{{ u.username }}</a>
							{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</span>

					<div class="actions">
						<a href="#{% url admin:glue_pin_change pin.id %}" class="edit-pin action" data-id="{{ pin.id }}" title="{% trans "edit" %}">{% trans "edit" %}</a>
						
						{% if pin.permalink %}
						<a class="external action" href="{{ pin.permalink}}">{% trans "link" %}</a>
						{% endif %}

						{% if workon_serie  %}
						<a href="#{% url admin:glue_pin_change pin.id %}"
							class="append-frame action" data-slug="{{ pin.slug }}" data-title="{{ pin.title }}" data-page-slug="wander" data-id="{{ pin.id }}" >{% trans "use in serie" %}</a>
						{% endif %}

						{% if user in authors %}
							<a class="remove-pin action warning" data-id="{{ pin.id }}">{% trans "delete" %}</a>
						{% endif %}
					</div>

					{% endwith %}

					

					{% for child in pin.children.all|slice:":10" %}
					<div class="comment">
						<a href="#" class="author"> </a> {{ child.abstract }}
					</div>
					{% endfor %}
					
				</div>
				{% endfor %}

			</div>
			&nbsp;

		</div>
		<div class="grid_3">
			
			<!-- 
			
					AUGMENT 

			-->
			<div class="items">
				{% for pin in walt.augment.pins %}
				<div class="item">
					
					<h3><a href="{% url walt_pin pin.slug %}"><!-- #{{ pin.id }} --> {{ pin.title }} </a></h3>
					<div class="metadata"><span class="date">{% if pin.date %}{{ pin.date }}{% else %}{{ pin.date_last_modified }}{% endif %}</span>
						{% for tag in pin.tags.all %}
							<a href="{% url walt_tag tag.type|lower tag.slug %}" class="tag" alt="{{ tag.name }} ( {{ tag.type }} )">{{ tag.name }}</a>
							{% if not forloop.last %},{%endif %} 
						{% endfor %}
							<a href="#" class="open-attach-tag" data-pin-slug="{{ pin.slug }}" alt="attach tag">+</a>
					</div>
					<div>
						{{ pin.content|safe }}
					</div>

					<blockquote>
						 {{ pin.abstract }}
					</blockquote>
					{% with authors=pin.authors.all %}
					<span class="authors">
							{%trans "posted by" %}
							{% for u in authors %}
								<a href="{% url walt_spiff u.username %}">{{ u.username }}</a>
								{% if not forloop.last %}, {% endif %}
							{% endfor %}
						</span>

					<div class="actions">
						<a href="#{% url admin:glue_pin_change pin.id %}" class="edit-pin action" data-id="{{ pin.id }}" title="{% trans "edit" %}">{% trans "edit" %}</a>
						
						<a class="external action" href="{{ pin.permalink}}">{% trans "link" %}</a>
						{% if user in authors %}
							<a class="remove-pin action warning" data-id="{{ pin.id }}">{% trans "delete" %}</a>
						{% endif %}
					</div>
					{% endwith %}
					{% for child in pin.children.all|slice:":10" %}
					<div class="comment">
						<a href="#" class="author"> </a> {{ child.abstract }}
					</div>
					{% endfor %}
					
				</div>
				{% endfor %}

			</div>
			&nbsp;

		</div>
		<div class="grid_3">
			
			<!-- 
			
					LEARN 

			-->
			<div class="items">
				{% for pin in walt.learn.pins.all|slice:":10" %}
				
					{% ifequal pin.mimetype "text/x-bibtex" %}
						{% with bibtex=pin.bib %}
						<div class="item">
							<h4>{{ bibtex.author }}</h4>
							<h3><a href="{% url walt_pin pin.slug %}"><!-- #{{ pin.id  }}-->{{ bibtex.title }}</a></h3>
							<div class="metadata">
								<p>{{ bibtex.publisher }}, {{ bibtex.year }}</p>
								{% for tag in bibtex.keywords|split %}
									<a href="#" class="tag" alt="{{ tag }}">{{ tag }}</a>
									{% if not forloop.last %},{%endif %}
								{% endfor %}
								
							</div>
							<blockquote>
								{% if bibtex.abstract %} {{ bibtex.abstract }} {% endif %}

								{{ pin.abstract }}
								
							</blockquote>

							{% with authors=pin.authors.all %}

							<span class="authors">
								{%trans "posted by" %}
								{% for u in authors %}
									<a href="{% url walt_spiff u.username %}">{{ u.username }}</a>
									{% if not forloop.last %}, {% endif %}
								{% endfor %}
							</span>

							<div class="actions">
								<a href="#{% url admin:glue_pin_change pin.id %}" class="edit-pin action" data-id="{{ pin.id }}" title="{% trans "edit" %}">{% trans "edit" %}</a>
								
								{% if pin.permalink %}
								<a class="external action" href="{{ pin.permalink}}">{% trans "link" %}</a>
								{% endif %}

								{% if workon_serie  %}
								<a href="#{% url admin:glue_pin_change pin.id %}"
									class="append-frame action" data-slug="{{ pin.slug }}" data-title="{{ pin.title }}" data-page-slug="wander" data-id="{{ pin.id }}" >{% trans "use in serie" %}</a>
								{% endif %}

								{% if user in authors %}
									<a class="remove-pin action warning" data-id="{{ pin.id }}">{% trans "delete" %}</a>
								{% endif %}
							</div>

							{% endwith %}
						</div>
						{% endwith %}
					{% endifequal %}
				
				{% endfor %}
				
			</div>
			&nbsp;
		</div>
		<div class="grid_3 omega">
			
			
			<div class="items">
				{% for pin in walt.try.pins.all|slice:":10" %}
				<div class="item">
					
					<h3><a href="{% url walt_pin pin.slug %}"><!-- #{{ pin.id }} -->{{ pin.title }} </a></h3>
					<div class="metadata"><!-- span class="date">{% if pin.date %}{{ pin.date }}{% else %}{{ pin.date_last_modified }}{% endif %}</span -->
						{% for tag in pin.tags.all %}
							<a href="{% url walt_tag tag.type|lower tag.slug %}" class="tag" alt="{{ tag.name }} ( {{ tag.type }} )">{{ tag.name }}</a>
							{% if not forloop.last %},{%endif %} 
						{% endfor %}
					
					</div>
					<div class="content">
						 {{ pin.abstract|safe }}
					</div>

					<!-- tools does not manifest their content in index page. -->

					{% with authors=pin.authors.all %}

					<span class="authors">
						{%trans "posted by" %}
						{% for u in authors %}
							<a href="{% url walt_spiff u.username %}">{{ u.username }}</a>
							{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</span>

					<div class="actions">
						<a href="#{% url admin:glue_pin_change pin.id %}" class="edit-pin action" data-id="{{ pin.id }}" title="{% trans "edit" %}">{% trans "edit" %}</a>
						
						{% if pin.permalink %}
						<a class="external action" href="{{ pin.permalink}}">{% trans "link" %}</a>
						{% endif %}

						{% if workon_serie  %}
						<a href="#{% url admin:glue_pin_change pin.id %}"
							class="append-frame action" data-slug="{{ pin.slug }}" data-title="{{ pin.title }}" data-page-slug="wander" data-id="{{ pin.id }}" >{% trans "use in serie" %}</a>
						{% endif %}

						{% if user in authors %}
							<a class="remove-pin action warning" data-id="{{ pin.id }}">{% trans "delete" %}</a>
						{% endif %}
					</div>

					{% endwith %}


					{% for child in pin.children.all|slice:":10" %}
					<div class="comment">
						<a href="#" class="author"> </a> {{ child.abstract }}
					</div>
					{% endfor %}
					
				</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
{% endblock %}