{% extends "walt/boilerplate.html" %}
{% load i18n %}

{% block body %}
		<div class="container_12">
			<div class="grid_12">	
				<h1><a href="{% url walt_home %}">walt.</a></h1>
			</div>
			
			
			{% block page %}

			{% endblock %}

			{% block footer %}
			
			<div class="grid_12">
				language:{{ language }} {% for language in languages %} {{ language }}{%if not forloop.last %}, {%endif%}{% endfor %}
				{{ warnings }}
			</div>
			
			{% endblock %}
		</div>


		{% ifequal page.slug 'learn' %}
		<div id="add-pin-modal" class="reveal-modal">
			<h1>{% trans "bibtext" %}</h1>
			<p>You can use bib text entry directly.
				Each object should have at least a <b>slug</b> and a <b>title</b>.</p>
			
			<p>
				<label for='id_add_pin_content'>{% trans "bibtext entry" %}</label>
				<textarea class="span6" id="id_add_pin_content">


				</textarea>
				<input type='hidden' id="id_add_pin_mimetype" value="text/x-bibtex"/>
			</p>
			<p>
				<label for='id_add_pin_title_en'>{% trans "its title" %}</label>
				<input type='text' class="span6" id="id_add_pin_title_en" placeholder="title"/>
			</p>
			
			<p>
				<label for='id_add_pin_slug'>{% trans "slug" %}</label>
				<input type='text' class="span6" id="id_add_pin_slug" placeholder="slug"/>
			</p>

			<a href="#" id="add-pin" data-page-slug="{{ page.slug }}" data-pin-slug="">{% trans "add your object" %}</a>
			<a class="close-reveal-modal">&#215;</a>
		</div>
		{% else %}
		<div id="add-pin-modal" class="reveal-modal">
			<h1>{% trans "give it a name" %}</h1>
			<p>Each object should have at least a <b>slug</b> and a <b>title</b>.</p>
			
			<p>
				<label for='id_add_pin_permalink'>{% trans "permalink (optional)" %}</label>
				<input type='text' class="span6" id="id_add_pin_permalink" placeholder="http://"/>

			</p>
			<p>
				<label for='id_add_pin_title_en'>{% trans "its title" %}</label>
				<input type='text' class="span6" id="id_add_pin_title_en" placeholder="title"/>
			</p>
			
			<p>
				<label for='id_add_pin_slug'>{% trans "slug" %}</label>
				<input type='text' class="span6" id="id_add_pin_slug" placeholder="slug"/>
			</p>

			<a href="#" id="add-pin" data-page-slug="{{ page.slug }}" data-pin-slug="">{% trans "add your object" %}</a>
			<a class="close-reveal-modal">&#215;</a>
		</div>
		{% endifequal %}
{% endblock %}