{% extends "walt/middle.html" %}
{% load i18n %}
{% load extras %}



{% block navbar %}	
	<div class="grid_12 shadow" >
		<div class="grid_9 alpha crimson">&nbsp;</div>
		<div class="grid_3 alpha">&nbsp;</div>
	</div>

	<div class="grid_7">
		<div class="serie item" style="background:white">

					<h3>
						<a href="{% url walt_serie serie.slug %}">{{ serie.title }}</a></h3>

					<h2>
						( {{ serie.frames.count }} {% trans "frames" %}, {% trans "type" %} {{ serie.type }} )</h2>

					
				

				<div class="">
					<div class="timeline-inner">
						<div class="frames" data-serie-id="{{ serie.id }}" >
					
							{% for frame in serie.frames.all %}
								<div title="{{ frame.pin.title }}" class="frame {% for frame_page in frame.pin.page.all %}{{frame_page.slug}}{%if not forloop.last %}-{%endif%}{% endfor %} {{ frame.role }}">
									<div class="icon"></div>
									<div class="title">
										{{ frame.pin.title }}
									</div>
									<div class="counter-wrapper"><div class="counter">{{ forloop.counter }}</div></div>
									<!-- a href="{% url admin:glue_frame_change frame.id %}" class="title" title="{{ frame.pin.title }}"> {{ frame.pin.title|truncatewords:3 }}</a -->
								</div>
								
							{% endfor %}
					
						</div>
					</div>
				</div>

	</div>
	<div class="grid_12 shadow" >
		<div class="grid_3 push_9 alpha omega">&nbsp;</div>
	</div>
{% endblock %}

{% block page %}
	<div class="grid_12">
		<div class="grid_2 alpha">
			&nbsp;
			
		</div>
		<div class="grid_7">
			<div class="items">
			{% for frame in serie.frames.all %}
				
				{% ifequal frame.pin.mimetype "text/x-bibtex" %}
					{% with bibtex=frame.pin.bib %}
					
					{% endwith %}
				{% else %}
					
					<div class="item">
						
						<h3><a href="{% url walt_pin frame.pin.slug %}"><!-- #{{ pin.id }} --> {{ frame.pin.title }} </a></h3>
						<div class="metadata"><span class="date">{% if frame.pin.date %}{{ frame.pin.date }}{% else %}{{ frame.pin.date_last_modified }}{% endif %}</span>
							{% for tag in frame.pin.tags.all %}
								<a href="{% url walt_tag tag.type|lower tag.slug %}" class="tag" alt="{{ tag.name }} ( {{ tag.type }} )">{{ tag.name }}</a>
								{% if not forloop.last %},{%endif %} 
							{% endfor %}
							
							
						</div>
						<blockquote>
							 {{ frame.pin.abstract }}
						</blockquote>
						<div class="content">
							 {{ frame.pin.content|safe }}
						</div>

						{% with authors=frame.pin.authors.all %}

						<span class="authors">
							{%trans "posted by" %}
							{% for u in authors %}
								<a href="{% url walt_spiff u.username %}">{{ u.username }}</a>
								{% if not forloop.last %}, {% endif %}
							{% endfor %}
						</span>

						<div class="actions">
							
							{% if frame.pin.permalink %}
							<a class="external action" href="{{ frame.pin.permalink}}">{% trans "link" %}</a>
							{% endif %}

							{% if user in authors %}
								<a href="#" class="edit-pin action" data-id="{{ frame.pin.id }}" title="{% trans "edit" %}">{% trans "edit" %}</a>
							

								{% if workon_serie  %}
								<a href="#"
									class="append-frame action" data-slug="{{ frame.pin.slug }}" data-title="{{ frame.pin.title }}" data-page-slug="" data-id="{{ frame.pin.id }}" >{% trans "use in serie" %}</a>
								{% endif %}

							
								<a class="remove-pin action warning" data-id="{{ frame.pin.id }}">{% trans "delete" %}</a>
							{% endif %}
						</div>

						{% endwith %}

					

						{% for child in pin.children.all|slice:":10" %}
						<div class="comment">
							<a href="#" class="author"> </a> {{ child.abstract }}
						</div>
						{% endfor %}
					
					</div>




				{% endifequal %}
				
			{% endfor %}
			</div>
		</div>
		
		<div class="grid_3 omega">
			
		</div>
	</div>
{% endblock %}