{% extends "walt/middle.html" %}
{% load i18n %}
{% load extras %}


{% block navbar %}
	<div class="grid_12" >
				
		<h2 class="grid_6 alpha">
			<a href="#">{{ page.title }} ( {{ pins.count }} )</a>
			{% if user.is_authenticated %}
				| <a href="#add-walt-{{ page.slug|slice:":1" }}-modal" role="button" data-toggle="modal">+ {% trans "add bookmark" %}</a>
			{% endif %}

		</h2>

		<h2 class="grid_6 omega crimson">
			{% trans "series using" %} {{ page.title }} ( {{ series.count }} )
		</h2>
	</div>
	<div class="grid_12 shadow" >
		<div class="grid_6 alpha">&nbsp;</div>
		<div class="grid_6 omega crimson">&nbsp;</div>
	</div>
{% endblock %}

{% block page %}

	<div class="grid_12">
		<div class="grid_6 alpha">
			

			<div class="items">
				{% for pin in page.pins.all %}



					{% ifequal pin.mimetype "text/x-bibtex" %}
						{% with bibtex=pin.bib %}
						<div class="item">
							<h4>{{ bibtex.author }}</h4>
							<h3>{{ bibtex.title }}</h3>
							<div class="metadata">
								<p>{{ bibtex.publisher }}, {{ bibtex.year }}</p>
								{% for tag in bibtex.keywords|split %}
									<a href="#" class="tag" alt="{{ tag }}">{{ tag }}</a>
									{% if not forloop.last %},{%endif %}
								{% endfor %}
								<p><a href="{% url admin:glue_pin_change pin.id %}">&rarr; {% trans "edit" %}</a></p>
							</div>
							<blockquote>
								{% if bibtex.abstract %}<p> {{ bibtex.abstract }} </p>{% endif %}

								{{ pin.abstract }}
								
							</blockquote>

						</div>
						{% endwith %}
					{% else %}
						<!-- no bibtext entry -->
						<div class="item">
					
							<h3><a href="{% url walt_pin pin.slug %}"><!-- #{{ pin.id }} --> {{ pin.title }} </a></h3>
							<div class="metadata">
								{% for tag in pin.tags.all %}
									<a href="{% url walt_tag tag.type|lower tag.slug %}" class="tag" alt="{{ tag.name }} ( {{ tag.type }} )">{{ tag.name }}</a>
									{% if not forloop.last %},{%endif %} 
								{% endfor %}
									<a href="#" class="open-attach-tag" data-pin-slug="{{ pin.slug }}" alt="attach tag"></a>
							</div>
							

							<blockquote>{{ pin.mimetype }}
								 {{ pin.abstract|safe }}
							</blockquote>
							{% ifequal pin.mimetype "text/html" %}
								<div class="iframe">
									{{ pin.content|safe }}
								</div>
							{% endifequal %}
							{% with authors=pin.authors.all %}
								<div class="authors">
									{%trans "posted by" %}
									{% for u in authors %}
										<a href="{% url walt_spiff u.username %}">{{ u.username }}</a>
										{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</div>

								{% if user.is_authenticated %}
								<div class="actions">
									{% if user in authors %}
									<a href="#"  data-toggle="tooltip" data-animation="false" class="edit-pin action" data-id="{{ pin.id }}" title="{% trans "edit" %}"><div class="icon edit"></div></a>
									<a href="#" data-toggle="tooltip" data-animation="false" class="action append-frame" data-id="{{ pin.id }}" title="{% trans "add to serie" %}"><div class="icon commit"></div></a>
									<a href="#" data-toggle="tooltip" data-animation="false" class="open-attach-tag action" data-pin-slug="{{ pin.slug }}" data-id="{{ pin.id }}" title="{% trans "attach tag" %}"><div class="icon tag"></div></a>

									{% endif %}
									<a class="external action" data-toggle="tooltip" data-animation="false" href="{{ pin.permalink}}" title="{% trans "link" %}"><div class="icon link"></div></a>
									{% if user in authors and authors|length == 1 %}
										<a class="remove-pin action warning" data-toggle="tooltip" data-animation="false" data-id="{{ pin.id }}" title="{% trans "delete" %}"><div class="icon remove"></div></a>
									{% endif %}
								</div>
								{% endif %}

							{% endwith %}

							{% for child in pin.children.all|slice:":10" %}
								<div class="comment">
									<a href="#" class="author"> </a> {{ child.abstract }}
								</div>
							{% endfor %}
							
						</div>

					{% endifequal %}
				{% endfor %}

			</div>
		</div>
		<div class="grid_6 omega">
			<div class="items">
				{% for serie in series %}
					<div class="item serie">
						<h3><a href="{% url walt_serie serie.slug %}">{{ serie.title }}</a></h3>
						<div class="abstract">
							{{ serie.abstract }}
						</div>
						<a href="{% url walt_serie_stack serie.slug %}">{% trans "view as stack" %}</a>

						{% for frame in serie.frames.all %}
						<div>{{frame.pin.id}}</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>

	</div>
{% endblock %}